.gallery-page {
  position: relative;
  background-color: transparent;
  padding: 0;
  margin: 2rem auto;
  width: min(65vw, 1200px);
  box-sizing: border-box;
  color: #333;
  overflow: hidden;
}

.gallery-image-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

.gallery-cover-image {
  display: block;
  max-height: 40vh;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s, clip-path 0.2s;
  clip-path: polygon(0 0, 70% 0, 100% 10%, 100% 100%, 50% 100%, 0 100%);
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

.gallery-top-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
  color: #e2f3ea;
  margin: 2px 0;
  background-color: var(--seconday-color);
}

.gallery-top-bar h1 {
  font-size: 2rem;
  margin: 0;
  text-align: left;
  width: 100%;
}

.gallery-top-bar p {
  font-size: 1.2rem;
  margin: 5px;
  margin-top: 1rem;
  width: 100%;
}

.gallery-main-container {
  position: relative;
  padding: 5px;
  margin: 0 auto;
  width: min(65vw, 1200px);
  box-sizing: border-box;
  color: #333;
  overflow: hidden;
  background-color: var(--seconday-color);
}

/* Instagram-style image grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2px;
  padding: 2px;
  background-color: var(--seconday-color);
}

.image-grid-item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}
.load-more-button{
  background-color: transparent;
  display: inline;
  border: none;
  text-align: center;
}
/* Progressive Loading (Blur Effect) */
.grid-image.loading {
  filter: blur(10px);
  transition: filter 0.5s ease-out;
}

.grid-image.loaded {
  filter: blur(0);
}

/* Modal styling */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.modal-caption {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transform: translateY(-50%);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

@media screen and (max-width: 768px) {

  .gallery-cover-image {
    max-height: 20vh;
  }
  .gallery-top-bar {
    padding: 1rem;
  }
  .gallery-top-bar h1 {
    font-size: 1.2rem;
  }
  .gallery-top-bar p {
    font-size: 0.875rem;
  }

    .gallery-page {
      width: 100%;
    }
    .gallery-main-container {
      width: 100%;
      padding: 2px;
      background-color: var(--seconday-color);
    }
    .image-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2px;
      padding: 2px;
    }
    .image-grid-item {
      overflow: hidden;
      position: relative;
      /* Enforce square aspect ratio */
      aspect-ratio: 1 / 1;
    }
    .image-grid-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
  
}
