.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2px;
    width: 100%;
    margin: 0rem auto;
  }
  .image-item {
    display: flex;
    background-color: transparent;
    padding: 0;
  }
  
.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
}

.image-item img:hover {
  transform: scale(1.05);
}